@import "styles/variables";
.input-container {
    border: 1px solid $color-input-bg;
    width: 100%;
    height: 52px;
    background: $color-input-bg;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &:focus-within {
        border: 1px solid $color-input-border-focus;
    }
    padding-left: 14px;
    padding-right: 14px;
}

.input-inner {
    outline: none;
    width: 100%;
    height: 100%;
    top: 0;
    border: none;
    margin-right: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: $color-text-secondary;
    &:disabled {
        background: $color-button-primary-text;
    }
    &::placeholder {
        color: $color-text-secondary;
    }
}