@import "styles/variables";
.text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.text-button {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: $color-text-primary;
}

.text-title {
    font-weight: 700;
    font-size: 44px;
    line-height: 109%;
    color: $color-text-primary;
}

.text-p-20 {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: $color-text-primary;
}

.text-p-18 {
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    color: $color-text-primary;
}

.text-p-16 {
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: $color-text-primary;
}

.text-p-14 {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    color: $color-text-primary;
}

.text-primary {
    color: $color-text-primary;
}

.text-secondary {
    color: $color-text-secondary;
}

.text-accent {
    color: $color-text-accent;
}

.text-white {
    color: $color-button-primary-text;
}

.text-inherit {
    color: inherit;
}

.text-normal {
    font-weight: normal;
}

.text-medium {
    font-weight: medium;
}

.text-bold {
    font-weight: bold;
}