.text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.text_button {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: var(--text-primary);
}

.text_title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 44px;
  line-height: 109%;
  color: var(--text-primary);
}

.text_p_20 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: var(--text-primary);
}

.text_p_18 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  color: var(--text-primary);
}

.text_p_16 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: var(--text-primary);
}

.text_p_14 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: var(--text-primary);
}

.text_primary {
  color: var(--text-primary);
}

.text_secondary {
  color: var(--text-secondary);
}

.text_accent {
  color: var(--text-accent);
}

.text_inherit {
  color: inherit;
}

.text_normal {
  font-weight: normal;
}

.text_medium {
  font-weight: medium;
}

.text_bold {
  font-weight: bold;
}
