@import "styles/variables";
@import "styles/mixins";
.product-grid-container {
    width: 100%;
}

.product-grid-title {
    display: flex;
    align-items: center;
    padding-top: 48px;
}

.product-quantity {
    margin-left: 24px;
}

.total-product {
    font-size: 32px;
    line-height: 150%;
    color: $color-text-primary;
}