@import "styles/mixins";
.product-card {
  @include container;
  flex-direction: column;
  height: 100%;
  cursor: pointer;
  background: $color-white;
  &:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  &__caption-slot {
    margin-bottom: 8px;
  }
  &__title {
    margin-bottom: 8px;
  }
  &__subtitle {
    max-height: 60px;
  }
  &__body {
    width: 100%;
    padding: 24px 12px;
    text-align: left;
    background: var(--button-primary-text);
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__image {
    @include square(360px);
  }
}
