@import "./fonts.scss";
@import "styles/mixins";
html,
body {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    background: #fafafa;
}

#root {
    min-height: 100vh;
    @include container;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
pre {
    margin: 0;
}

:root {
    --font-family: "Roboto", sans-serif;
}