@import "styles/mixins";
.cart {
  @include container;
  flex-direction: column;
  padding-top: 32px;
  width: 100%;
  min-width: 1240px;
  padding-bottom: 80px;
  &__text_empty {
    padding-top: 24px;
  }
  &__button_empty {
    margin-top: 32px;
  }
}

.product {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  padding-top: 16px;
  &__image {
    width: 120px;
    height: 120px;
  }
  &__title {
    padding-left: 32px;
    width: 38%;
  }
  &__price {
    padding-left: 32px;
    width: 20%;
  }
  &__total-price {
    padding-left: 32px;
  }
}

.product-amount-buttons {
  @include container;
  &__button {
    @include container;
    border-radius: 16px;
    width: 64px;
    height: 48px;
  }
  &__amount {
    padding: 0px 16px;
  }
}

.total-block {
  width: 80%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding-top: 18px;
  padding-right: 24px;
  &__button {
    margin-top: 18px;
  }
}
