@import "styles/variables";
@import "styles/mixins";
.single-product-page-container {
    @include container;
    width: 100%;
    padding-bottom: 40px;
}

.single-product-page-inner-container {
    @include container;
    flex-direction: column;
    margin-top: 100px;
    width: 100%;
    max-width: 1240px;
}

.back-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.product-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 32px;
}

.product-info-container {
    padding-left: 48px;
}

.product-image {
    @include square(600px);
}

.product-description {
    padding-top: 24px;
}

.product-price {
    padding-top: 32px;
}

.product-price-container {
    height: 180px;
    padding-top: 48px;
}

.product-buttons-container {
    padding-top: 48px;
    display: flex;
}

.add-to-cart-button {
    border: 1px solid $color-text-secondary;
    background: none;
    margin-left: 48px;
}

.related-items {
    font-size: 32px;
    display: flex;
    justify-content: start;
    width: 100%;
    padding-top: 48px;
}

.related-items-title {
    font-size: 32px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-column-gap: 79px;
    grid-row-gap: 30px;
    grid-auto-rows: max-content;
    padding-top: 32px;
}