@import "styles/variables";
@import "styles/mixins";
.header-container {
  @include container;
  width: 100%;
  background: $color-white;
  border-bottom: 2px solid $color-white-smoke;
  height: 90px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-inner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1240px;
}

.header-logo-container {
  @include container;
}

.header-logo-text-icon {
  margin-left: 12px;
}

.header-menu-container {
  @include container;
}

.header-menu-page {
  margin-left: 48px;
  text-decoration: none;
  padding-top: 35px;
  padding-bottom: 35px;
  &:first-child {
    margin-left: 0px;
  }
  &.current.current {
    font-weight: 600;
    color: $color-text-accent;
    border-bottom: 3px solid $color-text-accent;
  }
}

.header-icons-container {
  @include container;
}

.header-profile-icon {
  margin-left: 24px;
}
