@import "styles/variables";
.multi-dropdown-container {
    width: 300px;
    position: relative;
}

.multi-dropdown-options {
    margin-top: 8px;
    width: 100%;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    background: $color-white;
    position: absolute;
    top: 20;
}

.multi-dropdown-option-text {
    padding: 14px 12px;
    height: 48px;
}