@import "styles/mixins";
.cross-icon {
    &_color-primary {
        fill: $color-black;
    }
    &_color_secondary {
        fill: $color-gainsboro;
    }
    &_color_accent {
        fill: $color-breaker-bay;
        width: 100px;
    }
}