@import "styles/mixins";
.arrow-down-icon_color_primary {
    fill: $color-black;
}

.arrow-down-icon_color_secondary {
    fill: $color-gainsboro;
}

.arrow-down-icon_color_accent {
    fill: $color-breaker-bay;
}